/* screen.css: Screen Styles */

/***************************************************************************************/
                                                                        /* Base Styles */

                                                    /* Bold on headings, b, and strong */
h1,h2,h3,h4,h5,h6,b,strong { font-weight: bold; }
                                                         /* Italic on i, em, and cite: */
i,em,cite { font-style: italic; }
                                 /* Dotted border and help cursor to abbr and acronym: */
abbr,acronym { border-bottom: 1px dotted; cursor: help; }

/***************************************************************************************/
                                                                /* Structural elements */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/***************************************************************************************/
/* Typography, color, etc.                Element hierarchy:                           */
/* Layout is farther down.                    <body>                                   */
/*                                               <main>                                */
/*                                                 <form id="login">                   */
/*                                                 <form id="enroll">                  */
/***************************************************************************************/

body {                                           /* Body - everything that's displayed */
  background-color: rgb(173,191,204);
  font-family: 'Istok Web', sans-serif;       /* The Amtrak site uses “Frutiger Light" */
                           /* which is an Adobe font. “Istok Web” was recommended as a */
                           /* replacement at «joelcrawfordsmith.com/new/font/frutiger» */
}

header {                                                  /* Header - top of page info */
}

                                                           /* Main - the main content  */
main {
  border-bottom: 2em solid rgb(0, 66, 92);          /* bottom border to balance header */
}


form {
  margin: 0;
  padding: 0;
  background-color: rgb(195,215,230);
}

fieldset {
  background-color: rgb(217,239,255);
}

legend {
  font-size: 1.125em;
  line-height: 1.250em;
  position: relative;
  top: 0.875em;                                    /* line-height × (2/3), and rounded */
}

label {
  font-family: Arial, sans-serif;             /* Again, mirroring the use Amtrak site  */
  display: inline-block;                      /* which uses Arial extensively, AFAICT. */
  font-size: 1.000em;
}

                                         /* Lining things up - See footnote about calcs*/
#userpass label      { width: 14em; }
#user-account label  { width: 10em; }
#user-name label     { width:  7em; }
#user-mailing label  { width:  9em; }
#user-billing label  { width:  9em; }
#user-phone label    { width:  5em; }
#user-stations label { width: 11em; }


ul.li {
  list-style-type: none;
  line-height: 80%;
}


/***************************************************************************************/
/*        Layout                          Element hierarchy:                           */
/*                                            <body>                                   */
/*                                               <main>                                */
/*                                                 <form id="login">                   */
/*                                                 <form id="enroll">                  */
/***************************************************************************************/

/***************************************************************************************/
                                                                    /* Default layouts */

header {                                                  /* Header - top of page info */
  background-color: rgb(0, 66, 92);  /* taken from www.amtrakguestrewards.com */
  min-height: 2em ;         /* logo image instead of text */
  background-image: url("img/logo-core.svg");
  background-origin: content-box;
  background-clip: border-box;
  background-position: top 0.125em left 0.375em;
  background-size: 10% auto;
  background-repeat: no-repeat;
}



fieldset {
  display: block;
  position: relative;
  margin: 0.250em;
  margin-top: -0.250em;                       /* Negative because <legend> is RIVETED… */
  padding: 2em 0.250em 1em 0.125em;                           /* …to <fieldset> border */
  background-color: rgb(217,239,255);
}

#choose fieldset {                /* Now I know why most people hide <legend> elements */
  margin-top: 0.250em;                      /* The previous <legend>-induced hack has… */
  padding: 0em 0.250em 0em 0.250em;                   /* …to be undone with more hacks */
}


input {
  display: inline-block;
}

select {
  display: inline-block;
}


#choose button {
  min-width: 8em;
}

#address-checkbox {
  margin-left: 1em;                            /* Twice the pad+margin to field labels */
}

div.sender {
  display: block;
  margin: 0.250em;
  padding: 1em 0.250em 1em 0.125em;
  background-color: rgb(217,239,255);
}




/***************************************************************************************/
                                                                    /* screen < 48 em */
@media all and ( max-width: 48em ) {

  #choose button {
    display: block;
    margin: 1.25em 0.125em 1.25em 5%;
  }

}
/***************************************************************************************/
                                                             /* 48 em < screen < 64 em */
@media all and ( min-width: 48em ) {

  #choose button {
    display: in-line block;
    margin: 1.250em 5% 1.250em 5%;
  }

}

/***************************************************************************************/
                                                                     /* 64 em < screen */
@media all and ( min-width: 64em ) {

  #choose button {
    display: in-line block;
    margin: 1.250em 5% 1.250em 5%;
  }

}

/***************************************************************************************/
/* Footnote:                                                                           */
/*           There's a BASH script at ~/src/Em-length.sh for calculating label widths. */
/***************************************************************************************/
                                                         /*    Reference for colors    */
                                                         /*     20% - rgb(43,48,51)    */
                                                         /*     40% - rgb(87,96,102)   */
                                                         /*     60% - rgb(130,143,153) */
                                                         /*     80% - rgb(173,191,204) */
                                                         /*     90% - rgb(195,215,230) */
                                                         /*    100% - rgb(217,239,255) */
