/* screen.css: Screen Styles */

/***************************************************************************************/
                                                                        /* Base Styles */

                                                    /* Bold on headings, b, and strong */
h1,h2,h3,h4,h5,h6,b,strong { font-weight: bold; }
                                                         /* Italic on i, em, and cite: */
i,em,cite { font-style: italic; }
                                 /* Dotted border and help cursor to abbr and acronym: */
abbr,acronym { border-bottom: 1px dotted; cursor: help; }

/***************************************************************************************/
                                                                /* Structural elements */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/***************************************************************************************/
/* Typography, color, etc.                Element hierarchy:                           */
/* Layout is farther down.                    <body>                                   */
/*                                               <main>                                */
/*                                                 <form id="login">                   */
/*                                                 <form id="enroll">                  */
/***************************************************************************************/

body {                                           /* Body - everything that's displayed */
  font-family:  Helvetica, "Liberation Sans Narrow", Arial, sans-serif;
  background-color: rgb(173,191,204);
}

header {                                                  /* Header - top of page info */
  font-family: Verdana, "Liberation Sans", Geneva, sans-serif;
  margin-left: 1%;
}
header h1 {
  font-size:   1.875em;
  line-height: 1.333em;
}
header p {
  font-size: 1.125em;
}

main {                                                     /* Main - the main content  */
}


form {
  display: block;
  margin: 0;
  padding: 0;
  background-color: rgb(195,215,230);
}

fieldset {
  display: block;
  position: relative;
  margin: 0.375em;
  margin-top: -0.250em;   /* Negative because <legend> is riveted to <fieldset> border */
  padding: 2em;
  background-color: rgb(217,239,255);
}

legend {
  font-size: 1.250em;
  line-height: 1.375em;
  position: relative;
  top: 0.875em;                                    /* line-height × (2/3), and rounded */
}

label {
  display: inline-block;
  font-size: 1.000em;
}

                                         /* Lining things up - See footnote about calcs*/
#userpass label      { width: 14em; }
#user-account label  { width: 10em; }
#user-name label     { width:  7em; }
#user-mailing label  { width:  9em; }
#user-billing label  { width:  9em; }
#user-phone label    { width:  5em; }
#user-stations label { width: 11em; }


form#login {
  display: none;
}

ul.li {
  list-style-type: none;
  line-height: 80%;
}

input {
  display: inline-block;
}

select {
  display: inline-block;
}


/***************************************************************************************/
/*        Layout                          Element hierarchy:                           */
/*                                            <body>                                   */
/*                                               <main>                                */
/*                                                 <form id="login">                   */
/*                                                 <form id="enroll">                  */
/***************************************************************************************/

/***************************************************************************************/
                                                                    /* Default layouts */


/***************************************************************************************/
                                                                    /* screen < 48 em */
@media all and ( max-width: 48em ) {
}

/***************************************************************************************/
                                                             /* 48 em < screen < 64 em */
@media all and ( max-width: 64em ) {
}

/***************************************************************************************/
                                                                     /* 64 em < screen */
@media all and ( min-width: 64em ) {
}

/***************************************************************************************/
          /* There's a BASH script at ~/src/Em-length.sh for calculating label widths. */

/***************************************************************************************/
                                                         /*    Reference for colors    */
                                                         /*     20% - rgb(43,48,51)    */
                                                         /*     40% - rgb(87,96,102)   */
                                                         /*     60% - rgb(130,143,153) */
                                                         /*     80% - rgb(173,191,204) */
                                                         /*     90% - rgb(195,215,230) */
                                                         /*    100% - rgb(217,239,255) */
